<%- include('layouts/header.ejs') %>
<script>
    if(window.history.replaceState)
    {
      window.history.replaceState(null,null,window.location.href)
    }
  </script>
<%- include('layouts/sidenav.ejs') %>
   
          <section class="maincontent">
                <div class="container">
                    <div class="row">
                        <div class="usermain p-3  col-md-12">
                        <div class="titlemain"><h2 class="fw-bold ps-4  my-3">PRODUCTS</h2>
                            <!-- <a class="pe-4  my-3" href=""><button type="submit">Add New Product</button></a> -->
                        </div>
                        <div class="container">
                            <form action="/admin/products/addproduct" method="post" id="proform" enctype="multipart/form-data">
                            <div class="row">
                                <div class="prolabel col-md-2">
                                    <h4 class="fw-bold">1.General Info</h4>
                                </div>
                                <div class="proform col-md-10">
                                    <label for="productname">Product Name</label>
                                    <input type="text" id="productname" name="productname" class="form-control">
                                    <p class="perror mb-2" id="error1" style="display: none;"></p>
                                    <label for="description">Description</label>
                                    <textarea name="description" id="description"  class="form-control"></textarea>
                                    <p class="perror mb-2" id="error2" style="display: none;"></p>
                                    <label for="color">Color</label>
                                    <input type="text" id="color" name="color" class="form-control">
                                    <p class="perror mb-2" id="error3" style="display: none;"></p>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="prolabel col-md-2">
                                    <h4 class="fw-bold">2.Brand</h4>
                                </div>
                                <div class="proform col-md-10">
                                    <label for="brandname">Brand Name</label>
                                    <select name="brandname" class="form-control" id="brandname">
                                        <% if(locals.brand) { for(let i = 0 ; i < locals.brand.length ; i ++) { %>
                                        <option value="<%= locals.brand[i]._id %>"><%= locals.brand[i].brandname %></option>
                                        <% } } %>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="prolabel col-md-2">
                                    <h4 class="fw-bold">3.Category</h4>
                                </div>
                                <div class="proform col-md-10">
                                    <label for="procategory">Product Category</label>
                                    <select name="procategory" class="form-control" id="procategory">
                                        <% if(locals.category) { for(let i = 0 ; i < locals.category.length ; i ++) { %>
                                            <option value="<%= locals.category[i]._id %>"><%= locals.category[i].categoryname %></option>
                                            <% } } %>

                                    </select>
                                    <label for="roomcategory">Room Category</label>
                                    <select name="roomcategory" class="form-control" id="roomcategory">
                                        <% if(locals.room) { for(let i = 0 ; i < locals.room.length ; i ++) { %>
                                            <option value="<%= locals.room[i]._id %>"><%= locals.room[i].roomname %></option>
                                            <% } } %>

                                    </select>
                                    
                                </div>
                            </div>

                            <div class="row">
                                <div class="prolabel col-md-2">
                                    <h4 class="fw-bold">4.Pricing</h4>
                                </div>
                                <div class="proform col-md-10">
                                    <label for="price">Price</label>
                                    <input type="number" id="price" name="price" class="form-control">
                                    <p class="perror mb-2" id="error4" style="display: none;"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="prolabel col-md-2">
                                    <h4 class="fw-bold">5.Media</h4>
                                </div>
                                <div class="proform col-md-10">
                                    <label for="mainimage">Main Image</label>
                                    <input type="file" id="mainimage" name="mainimage" class="form-control" >
                                    <input type="hidden" id="cropvaluesmain" name="cropvaluesmain" >
                                    <p class="perror mb-2" id="error6" style="display: none;"></p>
                                    <div class="preview1" id="preview1"></div>
                                    <label for="img1"> Image</label>
                                    <input type="file" id="imgs" name="imgs" class="form-control"  multiple>
                                    <input type="hidden" id="cropvaluesimg1" name="cropvaluesimg1" >
                                    <input type="hidden" id="cropvaluesimg2" name="cropvaluesimg2" >
                                    <input type="hidden" id="cropvaluesimg3" name="cropvaluesimg3" >
                                    <input type="hidden" id="cropvaluesimg4" name="cropvaluesimg4" >

                                    <div class="preview2" id="preview2"></div>
                                    <p class="perror mb-2" id="error7" style="display: none;"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="prolabel col-md-2">
                                    <h4 class="fw-bold">6.Others</h4>
                                </div>
                                <div class="proform col-md-10">
                                    <label for="price">Stock</label>
                                    <input type="number" id="stock" name="stock" class="form-control">
                                    <p class="perror mb-2" id="error5" style="display: none;"></p>
                                    <label for="offer">Offer</label>
                                    <select name="offer" class="form-control" id="offer" >
                                        <% if(locals.offer) { %>
                                        <option value="combo">Combo Offer</option>
                                            <% } else { %>
                                        <option value="NA">NA</option>
                                                <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="probtn mt-5 mb-2"><button type="submit" class="btn" >Add Product</button></div>
                        </form>
                        </div>
                        
                </div>
                </div>
                </div>              
          </section>
      <div class="mainimgoverlay" id="mainimageoverlay" style="display: none;"></div>
      <div id="mainimagemodal" class="modalformain" style="display: none;"><div class="imgmain"><img src="" id="mainmodimg" alt=""></div><div class="buttonmain"><button type="button" id="cropsavebtn" style="display: none;">CROP</button><button type="button" id="cropsavebtn1" style="display: none;">CROP</button><button type="button" id="cropsavebtn2" style="display: none;">CROP</button><button type="button" id="cropsavebtn3" style="display: none;">CROP</button><button type="button" id="cropsavebtn4" style="display: none;">CROP</button></div><button class="closecrop">&times;</button></div>
      </main>
      

      
<script src="/public/js/addproduct.js"></script>
      <%- include('layouts/footer.ejs') %>