<%- include('layouts/header.ejs') %>
<%- include('layouts/sidenav.ejs') %>

          <section class="maincontent">
            <div class="container">
                <div class="row">
                    <div class="usermain p-3  col-md-12">
                    <div class="titlemain"><h2 class="fw-bold ps-4  my-3">ORDERS</h2></div>
                    <div class="container">
                        <div class="row adminorder">
                        <table class="table   table1">
                            <tr>
                                <th>Order ID</th>
                                <th>Date</th>
                                <th>Customer Name</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            <% if(locals.orderdata && locals.orderdata.length > 0) { locals.orderdata.forEach(element => { %>
                            <tr>
                                <td>#<%= element._id %></td>
                                <td><%= element.date.toString().split(' ')[2] %>&nbsp;<%= element.date.toString().split(' ')[1] %>&nbsp;<%= element.date.toString().split(' ')[3] %>&nbsp;</td>
                                <td><%= element.user_id.firstname %>&nbsp;<%= element.user_id.lastname %></td>

                                <td>Rs.<%= element.total_amount %></td>
                                <td>
                                <% if(element.status === "Processing") { %>
                                    <span class="stat1">Processing</span>
                                    <% } else if(element.status === "Delivered") { %>
                                 <span class="stat">Delivered</span>
                                    <% } else if(element.status === "Dispatched"){ %>
                                        <span class="stat2">Dispatched</span>
                                    <% } else if(element.status === "Shipped"){ %>
                                        <span class="stat3">Shipped</span>
                                    <% } else if(element.status === "Cancelled") {%>
                                        <span class="stat4">Cancelled</span>
                                    <% } else if(element.status === "Returned") {%>
                                        <span class="stat5">Returned</span>

                                    <% } %>
                                </td>
                                <td class="actionbtns"><a href="/admin/orders/orderdetail?id=<%= element._id %>"><button type="button">Details</button></a></td>
                            </tr>
                            <% }) } else { %>

                            <% } %>
                        </table>
                            <% if(locals.orderdata && locals.orderdata.length > 0) { locals.orderdata.forEach(element => {  %>
                        <table class="table  table2 my-4" style="display: none;">
                            <tr><th>Order ID</th><td>#<%= element._id %></td></tr>
                            <tr><th>Date</th><td><%= element.date.toString().split(' ')[2] %>&nbsp;<%= element.date.toString().split(' ')[1] %>&nbsp;<%= element.date.toString().split(' ')[3] %>&nbsp;</td></tr>
                            <tr><th>Customer Name</th><td><%= element.user_id.firstname %>&nbsp;<%= element.user_id.lastname %></td></tr>
                            <tr><th>Total Price</th><td>Rs.<%= element.total_amount %></td></tr>
                            <tr><th>Status</th><td>
                                <% if(element.status === "Processing") { %>
                                    <span class="stat1">Processing</span>
                                    <% } else if(element.status === "Delivered") { %>
                                 <span class="stat">Delivered</span>
                                    <% } else if(element.status === "Dispatched"){ %>
                                        <span class="stat2">Dispatched</span>
                                    <% } else if(element.status === "Shipped"){ %>
                                        <span class="stat3">Shipped</span>
                                    <% } else if(element.status === "Cancelled") {%>
                                        <span class="stat4">Cancelled</span>
                                    <% } else if(element.status === "Returned"){ %>
                                        <span class="stat5">Returned</span>

                                    <% } %>
                            </td></tr>
                            <tr><th>Action</th><td class="actionbtns"><a href="/admin/orders/orderdetail?id=<%= element._id %>"><button type="button">Detail</button></a></td></tr>
                            </table>
                            <% })  } else { %>

                            <% } %>

                        </div>
                    </div>
                    
            </div>
            <div class="pagemain mt-4"><div class="pageblock"><button class="pagbtns" id="leftbtn"><i class="fa-solid fa-chevron-left"></i></button><span class="pagenums"><button class="pagbtns">1</button><button class="pagbtns">2</button><button class="pagbtns">3</button></span><button id="rightbtn" class="pagbtns"><i class="fa-solid fa-angle-right"></i></button></div></div>
            </div>
            </div>              
      </section>





      </main>
      <%- include('layouts/footer.ejs') %>
