<%- include('layouts/header.ejs') %>
<%- include('layouts/sidenav.ejs') %>

          <section class="maincontent">
            <div class="container">
                <div class="row">
                    <div class="usermain p-3  col-md-12">
                    <div class="titlemain"><h2 class="fw-bold ps-4  my-3">ORDER DETAIL</h2></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="ordersum col-md-10 m-auto">
                                    <div class="card">
                                        <div class="card-body ordersumbody">
                                            <% let prototal = [] %>
                                            <% if(locals.orderdetail) {  %>
                                            <input type="hidden" name="orderid" id="orderid" value="<%= locals.orderdetail._id %>">
                                                <% if(locals.orderdetail.products && locals.orderdetail.products.length > 0) { locals.orderdetail.products.forEach(element => { %>
                                                <div class="prodiv w-100"><img src="/assets/<%= element.product_id.mainimage %>" alt="" width="350px" height="350px">
                                                <div class="protext">
                                                <h5><span>Product Name :</span><%= element.product_id.productname %></h5>
                                                <h6><span>Description :</span> <%= element.product_id.description.split('.')[0] %></h6>
                                                <h6><span>Price :</span>Rs.<%= element.product_id.price %></h6>
                                                <h6><span>Quantity :</span><%= element.qty %></h6>
                                                </div>
                                                </div>
                                                <% prototal.push(element.product_id.price * element.qty)  %>
                                                
                                                <div class="statuschanger mt-3">
                                                    <h3 class="fw-normal ">Change Delivery Status</h3>
                                                    <div class="statdiv"><select name="deliverystatus" class="deliverystatus" <% if(element.status === "Cancelled"){ %> disabled <% } %> data-proid="<%= element.product_id._id %>">
                                                        <option class="stat" value="Processing">Processing</option>
                                                        <option class="stat1" value="Dispatched">Dispatched</option>
                                                        <option class="stat2" value="Shipped">Shipped</option>
                                                        <option class="stat3" value="Delivered">Delivered</option>
                                                        <option class="stat4" value="Cancelled">Cancelled</option>
                                                    </select>
                                                    <% if(element.status === "Processing") { %>
                                                     <div class="processstat w-50"><h3 class="fw-bold text-center">Processing</h3></div>
                                                     <% }else if(element.status === "Delivered") { %>
                                                <div class="delstat w-50"><h3 class="fw-bold text-center">Delivered</h3></div>
                                                     <% }else if(element.status === "Shipped") { %>
                                                <div class="shipstat w-50"><h3 class="fw-bold text-center">Shipped</h3></div>
                                                     <% }else if(element.status === "Dispatched") { %>
                                                <div class="dispstat w-50"><h3 class="fw-bold text-center">Dispatched</h3></div>
                                                     <% }else if(element.status === "Cancelled") { %>
                                                <div class="cancelstat w-50"><h3 class="fw-bold text-center">Cancelled</h3></div>
                                                <% }else if(element.status === "Return") { %>
                                                <div class="returnstat w-50"><h3 class="fw-bold text-center">Return Requested</h3></div>
                                                    <% } %>
                                                </div>
                                                </div>

                                                <% }) } %>
                                                
                                                
                                                <% } %>
                                            </div>
                                        </div>
                
                
                
                                  </div>
                                   <div class="checkorder  col-md-10 mt-4 m-auto">
                                    
                                      <div class="card " >
                                          <div class="card-body checkout">
                                            <h3 class="card-title  fw-bold ">Order Description</h3>
                                            <% if(locals.orderdetail) { %>
                                            <div class="cartdetails">
                                                <h4 class="card-title  fw-normal ">Order ID</h4>
                                                <p>#<%= locals.orderdetail._id %></p>
                                                <hr class="my-4">
                                                <h4 class="card-title  fw-normal ">Delivery Details</h4>
                                                <div class="addp">
                                                <% if(locals.orderdetail.address_id) { %>
                                                <p><%= locals.orderdetail.address_id.name %></p>
                                                <p><%= locals.orderdetail.address_id.mobile %></p>
                                                <p><%= locals.orderdetail.address_id.landmark %>,<br><%= locals.orderdetail.address_id.streetAddress %></p>
                                                <p><%= locals.orderdetail.address_id.district %>,<%= locals.orderdetail.address_id.state %>,<%= locals.orderdetail.address_id.country %></p>
                                                <p><%= locals.orderdetail.address_id.pincode %></p></div>
                                                <% } %>
                                                <hr class="my-4">
                                                <h4 class="card-title  fw-normal ">Customer Details</h4>
                                                <div class="addp">
                                                <% if(locals.orderdetail.user_id) { %>
                                                <p><%= locals.orderdetail.user_id.firstname %>&nbsp;<%= locals.orderdetail.user_id.lastname %></p>
                                                <p><%= locals.orderdetail.user_id.mobile %></p>
                                                <p><%= locals.orderdetail.user_id.email %></p>
                                                <% } %>
                                                </div>
                                                <hr class="my-4">
                                                <h4 class="card-title  fw-normal ">Payment Details</h4>
                                                <div class="addp">
                                                <p class="paydiv my-auto">Method : <%= locals.orderdetail.payment_method %> <img src="/public/images/2053412.png" alt="" width="30px" height="30px"></p>
                                                <p>Status : <%= locals.orderdetail.payment_status %></p>
                                                </div>
                                                <hr class="my-4">
                                                <h4 class="card-title mt-5 mb-4 fw-normal ">Order Summary</h4>
                                            </div>
                                            <div class="checkpricepro">
                                            <h6>Products</h6>
                                            <% if(prototal) { let tot = prototal.reduce((acc,curr) => acc+curr); %>
                                                <p>Rs.<%= tot %></p>
                                                <% } %>
                                            </div>
                                            <div class="checkdisc">
                                                <h6>Discount</h6>
                                                <p>500</p>
                                            </div>
                                            <div class="checkdel">
                                                <h6>Delivery Charges</h6>
                                                <p>50000</p>
                                            </div>
                                                  <hr>
                                                  <div class="checktotal"><h6 class="fw-bold">Total Amount</h6><p>Rs.<%= locals.orderdetail.total_amount %></p></div>
                                                  <% } %>   
                                                </div>
                                            </div>
                                            
                                </div>
                            </div>
                        </div>
                    
                    
            </div>
            </div>
            </div>              
      </section>





      </main>

      <script src="/public/js/adminorderdetail.js"></script>
      <%- include('layouts/footer.ejs') %>