<%- include('layouts/header.ejs') %>
<%- include('layouts/sidenav.ejs') %>


        
          <section class="maincontent">
                <div class="container">
                    <div class="row">
                        <div class="usermain p-3  col-md-12">
                        <div class="titlemain"><h2 class="fw-bold ps-4  my-3">PRODUCTS</h2><a class="pe-4  my-3" href="/admin/products/addproduct"><button type="submit">Add New Product</button></a></div>
                        <div class="container">
                            <div class="row">
                                <% if(locals.products) { for(let i = 0 ; i < locals.products.length ; i++) { %>
                                <% let desc = locals.products[i].description.split('.')[0] %>
                                <% let pname = locals.products[i].productname.split(' ')[0] %>
                                <div class="product col-md-3">
                                    <div class="card">
                                        <a href=""><img src="/assets/<%= locals.products[i].mainimage %>" class="card-img-top" alt="..."></a>
                                        <div class="card-body">
                                          <h5 class="card-title cardhead"><%= pname %></h5>
                                          <div class="carddesc"><p class="card-text"><%= desc %></p></div>
                                          <div class="cardprice pmanage mb-4"><div><a href="/admin/products/editproduct?id=<%= locals.products[i]._id %>">Edit</a></div><div><a href="/admin/products/deleteproduct?id=<%= locals.products[i]._id %>">Delete</a></div><div><a href="/admin/products/review?id=<%= locals.products[i]._id %>">Review</a></div></div>
                                          
                                        </div>
                                        <% if(locals.products[i].stock === 0) { %>
                                            <div class="stockbadge1">Out of Stock</div>
                                        <% } else {%>
                                            <div class="stockbadge2">Stock <br> <%= locals.products[i].stock %></div>
                                        <% } %>
                                      </div>
                                </div>
                                <% } } %>

                            </div>
                        </div>
                        
                </div>
                </div>
                </div>              
          </section>
      </main>


      

<%- include('layouts/footer.ejs') %>
