<%- include('layouts/header.ejs') , {udata:locals.udata} %>


      <main class="promain pb-5">
        <section class="products pt-5 pt-sm-5">
          <div class="container">
              <div class="row p-3">
                  <h2>Brands</h2>
                <% if(locals.branddata) { for(let i = 0; i< locals.branddata.length ; i++) { %>

                  <div class="category col-sm-6 col-md-3 mt-4">
                      <div class="card">
                          <a href="/brand/products?id=<%= locals.branddata[i]._id %>"><img src="/assets/<%= locals.branddata[i].image %>" class="card-img-top" alt="..."></a>
                          <div class="card-body">
                            <h5 class="card-title cardhead"><%= locals.branddata[i].brandname %></h5>
                            <div class="carddesc"><button type="button"><p class="card-text"><a href="/brand/products?id=<%= locals.branddata[i]._id %>">Explore Now</a></p></button></div>
                            
                          </div>
                        </div>
                  </div>
                  
                  <% } } %>

              </div>
          </div>
      </section>
      </main>



      <%- include('layouts/footer.ejs') %>
