<%- include('layouts/header.ejs') , {udata:locals.udata} %>


      <main class="promain pb-5">
        <section class="products pt-5 pt-sm-5">
          <div class="container">
              <div class="row p-3">
                  <h2>Brands</h2>
                <% if(locals.branddata && locals.branddata.length > 0) { for(let i = 0; i< locals.branddata.length ; i++) { %>

                  <div class="category col-sm-6 col-md-3 mt-4">
                      <div class="card">
                          <a href="/brand/products?id=<%= locals.branddata[i]._id %>"><img src="<%= locals.branddata[i].image %>" class="card-img-top" alt="..."></a>
                          <div class="card-body">
                            <h5 class="card-title cardhead"><%= locals.branddata[i].brandname %></h5>
                            <div class="carddesc"><button type="button"><p class="card-text"><a href="/brand/products?id=<%= locals.branddata[i]._id %>">Explore Now</a></p></button></div>
                            
                          </div>
                        </div>
                  </div>
                  
                  <% } }else{ %>
                    <div class="cart  col-lg-12 mt-4">
              
                      <div class="card m-auto border-0 h-100 ">
                        <div class="card-body h-100 d-flex justify-content-center align-items-center">
                          <div class="card-title d-flex flex-column justify-content-center align-items-center ">
                            <img src="/public/images/favicon.png" alt="" width="300rem" height="300rem">
                            <h2>Brands is Empty!!</h2>
                          </div>
                        </div>
                      </div>
                      </div>
                  <% } %>
              </div>
          </div>
      </section>
      </main>



      <%- include('layouts/footer.ejs') %>
