<%- include('layouts/header.ejs') %>

      <main class="promain pb-5">
        <section class="products pt-5 pt-sm-5">
          <div class="container">
              <div class="row p-3">
                  <h2 class=" mt-4 mb-3">CART</h2>
                  
                  <% if(locals.udata && locals.udata.cart && locals.udata.cart.length > 0) { %>
                <div class="cart col-md-6 col-lg-12 mt-4">
                    <%  locals.udata.cart.forEach(element => {   %>
                      <% let isListed = 0 %>
                      <% if(locals.udata.wishlist && locals.udata.wishlist.length > 0) { locals.udata.wishlist.forEach(el => {%>
                          <% if(el.product_id.equals(element.product_id._id)){isListed = 1 } %>
                      <% }); }%>
                      <div class="card cartcard my-4" >
                          <div class="card-body cartbody">
                            <a href="/products/viewproduct?id=<%= element.product_id._id %>&qty=<%= element.qty %>"><img src="/assets/<%= element.product_id.mainimage %>" alt="" width="200px" height="200px"></a>
                            <div class="cartdetails">
                                <h4 class="card-title prohead fw-bold "><%= element.product_id.productname %></h4>
                                <p><%= element.product_id.description.split('.')[0] %></p>
                                <% if(isListed == 0) {%>
                                <button class="wishaddbtn" type="button" data-proid="<%= element.product_id._id %>"> Add to Wishlist  &nbsp;<i class="fa-solid fa-heart"> </i></button>
                                <% } %>
                            </div>
                            <div class="cartprice">
                            <h6>Unit Price</h6>
                                <p>Rs.<%= element.product_id.price %></p>
                            </div>
                            <div class="carttotal">
                                <h6>Total Price</h6>
                                <p>Rs. <%= element.product_id.price * element.qty %></p>
                            </div>
                                  <div class="addrembtn">
                                    <button type="button" class="leftbtn" data-proleft = "<%= element.product_id._id %>"><i class="fa-solid fa-angles-left"></i></button>
                                    <p class="w-25  m-auto " id="qty_<%= element.product_id._id %>"><%= element.qty %></p>
                                    <button type="button" class="rightbtn" data-proright = "<%= element.product_id._id %>"><i class="fa-solid fa-angles-right"></i></button>
                                  </div> 
                                  <div class="viewpro">
                                    <a href="/products/viewproduct?id=<%= element.product_id._id %>&qty=<%= element.qty %>" >View Product</a>
                                  </div>
                                  <div class="cross">
                                    <button type="button" class="itemrem" data-rem="<%= element.product_id._id %>">&times;</button>
                                  </div>
                                </div>
                                <% if(element.product_id.stock === 0 ) { %>
                                  <div class="out1">Out of Stock</div>
                                    <% } %>
                                    <% if(isListed == 1) {%>
                                    <div class="wishiconsolid1" data-proid="<%= element.product_id._id %>"><button type="button" ><i class="fa-solid fa-heart"></i></button> </div>
                                    <% } %>
                            </div>
                            
                            <% }) %>
                            <div class="checkcart my-5 text-center "><a href="/checkout">CHECKOUT</a></div>
                          
                </div>
             <% } else { %>
              <div class="cart  col-lg-12 mt-4">
              
                <div class="card m-auto border-0 h-100 ">
                  <div class="card-body h-100 d-flex justify-content-center align-items-center">
                    <div class="card-title d-flex flex-column justify-content-center align-items-center ">
                      <img src="/public/images/favicon.png" alt="" width="300rem" height="300rem">
                      <h2>Cart is Empty!!</h2>
                    </div>
                  </div>
                </div>
                </div>
                <% } %>


                          

                        </div>
                  </div>
                  
                  

              </div>
          </div>
      </section>
      </main>



<script src="/public/js/cart.js"></script>
<%- include('layouts/footer.ejs') %>
