<%- include('layouts/header.ejs') , {udata:locals.udata} %>


      <main class="promain pb-5">
        <section class="products pt-5 pt-sm-5">
          <div class="container-fluid ">
              <div class="row px-2  py-3 px-sm-5">
                  <h2 class=" mt-4 mb-3">CHECKOUT</h2>
                  <div class="checkaddress col-md-7 mt-4">
                    <div class="card">
                        <div class="card-body checkaddbody">
                            <div class="head"><h4 class="card-title  fw-bold my-4">Select Address</h4> <a href="/address/addaddress"><button type="button">Add Address</button></a></div>
                            
                            <% if(locals.addData && locals.addData.length > 0) { locals.addData.forEach((element,index) => { %>
                            <div class="card my-4">
                                <div class="card-body addresscard">
                                    <input type="radio" class="addressradio" name="address" value="<%=element._id %>" <% if(index === 0){ %> checked <% } %>>
                                    <div class="address">
                                        <h6>Name : <%= element.name %></h6>
                                        <p>Mobile : <%= element.mobile %></p>
                                        <p>StreetAddress : <%= element.streetAddress %></p>
                                        <p>Landmark : <%= element.landmark %></p>
                                        <p>District : <%= element.district %></p>
                                        <p>State : <%= element.state %></p>
                                        <p>Country : <%= element.country %></p>
                                        <p>Pincode : <%= element.pincode %></p>
                                    </div>
                                    <div class="addaction">
                                        <a href="/address/editaddress?id=<%= element._id %>"><button type="button">Edit Address</button></a>
                                        <a href="/address/removeaddress?id=<%= element._id %>"><button type="button">Remove Address</button></a>
                                    </div>
                                </div>
                            </div>
                            <% }); } else { %>
                                
                                    <div class="card m-auto border-0 h-100 ">
                                      <div class="card-body h-100 d-flex justify-content-center align-items-center addresscard">
                                        <div class="card-title d-flex flex-column justify-content-center align-items-center ">
                                          <img src="/public/images/oops.png" alt="" width="300rem" height="300rem">
                                          <h2>No Address Added!!</h2>
                                        </div>
                                      </div>
                                    </div>
                                
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="checkorder   col-md-5 mt-4">
                    
                      <div class="card " >
                          <div class="card-body checkout">
                            <h4 class="card-title  fw-bold ">Your Order</h4>

                            <div class="cartdetails">
                                <h4 class="card-title  fw-normal ">Product Details</h4>
                                <% if(locals.udata && locals.udata.cart && locals.udata.cart.length > 0) { locals.udata.cart.forEach(element => { %>
                                <div class="card  col-lg-6 col-xl-12 my-4 checkcard" data-price="<%= element.product_id.price %>" data-qty="<%= element.qty %>">
                                    <div class="card-body checkpro">
                                    <input type="hidden" class="productsId" value="<%= element.product_id._id %>,<%= element.qty %>">
                                    <a href=""><img src="/assets/<%= element.product_id.mainimage %>" alt="" width="70px" height="70px"></a>
                                        <div class="checkprodet"><h5><%= element.product_id.productname %></h5> <p><%= element.product_id.description.split(',')[0] %></p><p><%= element.product_id.price %></p></div>
                                        <div class="checkproqty mt-2 mt-sm-0"><h6>Quantity</h6><p><%= element.qty %> Items</p></div>
                                    </div>
                                    <div class="crosscheck" >&times;</div>
                                </div>
                                <%  })  %>
                                <h4 class="card-title mt-5 mb-4 fw-normal ">Coupon</h4>
                                <div class="couponmain">
                                <input type="text" id="coupon" name="coupon" class="couponinput">
                                <button type="button" id="applybtn" class="couponbutton">Apply Coupon</button>
                            </div>
                            <p class="couponerror" id="couponerrorid" style="display: none;"></p>
                                <h4 class="card-title mt-5 mb-4 fw-normal ">Order Summary</h4>
                            </div>
                            <div class="checkpricepro">
                            <h6>Products</h6>
                            <% let tot = locals.udata.cart.map(el=>{ return el.product_id.price * el.qty }) %>
                            <% let prosum = tot.reduce((acc,curr) => { return acc + curr}) %>
                                <p id="prosum">Rs.<%= prosum %></p>
                            </div>
                            <div class="checkdisc">
                                <h6>Discount</h6>
                                <p id="discountrate">Rs . 0</p>
                            </div>
                            <div class="checkdel">
                                <h6>Delivery Charges</h6>
                                <p>Rs. 0</p>
                            </div>
                                  <hr>
                                  <div class="checktotal"><h6>Total Amount</h6><p id="ordertotal">Rs.<%= prosum %></p></div>
                                  <% } %>
                          <div class="proceedbtn my-5 text-center " id="proceedbtn"><a href="/payment"><button>Proceed To Payment</button></a></div>
                                  
                                </div>
                            </div>

                </div>



                          

                        </div>
                  </div>
                  
                  

              </div>
          </div>
      </section>
      </main>


<script src="/public/js/checkout.js"></script>
      <%- include('layouts/footer.ejs')  %>
