<%- include('layouts/header.ejs') , {udata:locals.udata} %>


      <main class="promain pb-5">
        <section class="products pt-5 pt-sm-5">
          <div class="container ">
              <div class="row px-4">
                  <h2 class=" mt-4 mb-3">ADDRESSES</h2>
                  <div class="addaddress col-md-12 mt-4">
                    <div class="card">
                        <div class="card-body addressbody ">
                            <div class="head"><h4 class="card-title  fw-bold my-4">Edit Address</h4></div>
                            <% if(locals.addData) { %>
                            <form action="/address/editaddress" id="addressform" method="post">
                                <div class="combine my-4">
                                    <div class="addfield ">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="name" value="<%= locals.addData.name %>">
                                     <p class="error1 mb-2" id="nameerror" style="display: none;"></p>
                                    </div>
                                    <div class="addfield ">
                                        <label for="mobile">Mobile</label>
                                        <input type="number" id="mobile" name="mobile" value="<%= locals.addData.mobile %>">
                                        <p class="error1 mb-2" id="mobileerror" style="display: none;"></p>
                                        </div>
                                </div>
                                <input type="hidden" name="addId" value="<%= locals.addData._id %>">
                                <div class="combine my-4">
                                        <div class="addfield ">
                                        <label for="district">District</label>
                                        <input type="text" id="district" name="district" value="<%= locals.addData.district %>">
                                        <p class="error1 mb-2" id="districterror" style="display: none;"></p>
                                        </div>
                                        <div class="addfield ">
                                            <label for="pin">Pincode</label>
                                            <input type="number" id="pin" name="pincode" value="<%= locals.addData.pincode %>">
                                            <p class="error1 mb-2" id="pinerror" style="display: none;"></p>
                                        </div>
                                </div>

                            <div class="combine my-4">
                            <div class="addfield ">
                            <label for="country">Country</label>
                            <select name="country" class="form-control" id="country">                               
                                <option value="<%= locals.addData.country %>" selected="selected"><%= locals.addData.country %></option>
                            </select>
                            <p class="error1 mb-2" id="countryerror" style="display: none;"></p>
                            </div>
                            <div class="addfield ">
                                <label for="state">State</label>
                                <select name="state" class="form-control" id="state">                               
                                    <option value="<%= locals.addData.state %>" selected="selected"><%= locals.addData.state %></option>
                                </select>
                                <p class="error1 mb-2" id="stateerror" style="display: none;"></p>
                                </div>
                            </div>

                            <div class="addfield1 my-4">
                                <label for="streetAddress">Street Address</label>
                                <textarea name="streetAddress" id="streetAddress" cols="30" rows="5" class="form-control"><%= locals.addData.streetAddress %></textarea>
                                <p class="perror mb-2" id="streeterror" style="display: none;"></p>
                            </div>
                            <div class="addfield1 my-4">
                                <label for="landmark">Landmark</label>
                                <textarea name="landmark" id="landmark" cols="30" rows="5" class="form-control"><%= locals.addData.landmark %></textarea>
                                <p class="perror mb-2" id="landerror" style="display: none;"></p>
                            </div>

                            <div class="subbtn mt-5 mb-4 text-center"><button type="submit">Edit Address</button></div>
                        </form>
                        <% } %>
                        </div>
                    </div>
                </div>
                



                          

                        </div>
                  </div>
                  
                  

              </div>
          </div>
      </section>
      </main>



<script src="/public/js/editaddress.js"></script>
<%- include('layouts/footer.ejs')  %>
