<%- include('layouts/header.ejs') , {udata:locals.udata} %>

      <main class="home ">
        <div class="container-fluid">
            <div class="row">
                <div class="gallery col-lg-12">

                    <div class="gallery1">
                        <div class="image img1"><img src="/public/images/Chair1.jpg" alt="" ></div>
                        <div class="image img2"><img src="/public/images/bed1.jpg" alt=""></div>
                        <div class="image img3"><img src="/public/images/light1.jpg " alt=""></div>
                        <div class="image img4"><img src="/public/images/Chair2.jpg" alt=""></div>
                        <div class="image img5"><img src="/public/images/oonnjal.jpg" alt=""></div>
                        <div class="image img6"><img src="/public/images/kvistbro-storage-table-black__1059531_ph176285_s5.jpg" alt=""></div>
                        <div class="image img7"><img src="/public/images/mirror1.jpg" alt=""></div>
                        <div class="image img8"><img src="/public/images/skadis-shelf-white__0911087_pe644816_s5.jpg" alt=""></div>
                        <div class="image img9"><img src="/public/images/wahbasin1.jpg" alt=""></div>
                    </div>
                   <div class="logoimg"><img src="/public/images/LOGO Black.png" alt=""></div>
                   <div class="logobg"></div>
                   <div class="logohome"><img src="/public/images/logo no-bg.png" alt=""></div>
                </div>
            </div>
        </div>
      </main>
     
        <section class="products ">
            <div class="container">
                <div class="row p-5">
                    <h6><img src="/public/images/pin.png" class="pin" alt=""> Our Products</h6>
                    <h2>Explore Our Products</h2>
                    <% if(locals.products) { locals.products.forEach(element => {   %>
                    <% let desc = element.description.split('.')[0] %>
                    <% let pname = element.productname.split(' ')[0] %>
                    <div class="product col-md-3 mt-4"> 
                        <div class="card">
                            <a href="/products/viewproduct?id=<%= element._id %>"><img src="<%= element.mainimage %>" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                              <h5 class="card-title cardhead"><%= pname %></h5>
                              <div class="carddesc"><p class="card-text"><%= desc %></p></div>
                              <div class="cardprice"><p class="card-text ">Rs.<%= element.price %></p></div>
                              <% let isListed = 0 %>
                              <% if(locals.udata && locals.udata.wishlist && locals.udata.wishlist.length > 0) { locals.udata.wishlist.forEach(el => { %>
                                <% if(el.product_id.equals(element._id)) { isListed = 1 }%>
                             <% });} %>
                             <% if(isListed == 1){%>
                              <div class="wishiconsolid3 " data-proid="<%= element._id %>"><i class="fa-solid fa-heart"></i></div>
                             <% }else{ %>   
                              <div class="wishicon3 " data-proid="<%= element._id %>"><i class="fa-regular fa-heart"></i></div>
                            <% } %>
                            <div class="addcart"><button type="button" id="addcartbtn" data-proid="<%= element._id %>"><i class="fa-solid fa-cart-plus"></i></button></div>
                            </div>
                            <% if(element.offer_id != null ) {%>
                            <div class="offervalue"><%= element.offerdata[0].discount %>%</div>
                            <% } %>
                          </div>
                    </div>
                    <%  }); } %>
                    <button class="btn viewbtn my-4 text-center p-3"><a href="/products">View All Products</a></button>
                </div>
            </div>
        </section>

        <section class="banner">
            <div class="bannerdiv"><img src="" alt="" id="bannerimg">
                <div class="bannerbtn prevbtn" id="prevbtn"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="bannerbtn nextbtn" id="nextbtn"><i class="fa-solid fa-chevron-right"></i></div>
                <div class="bannercontent" id="bannercontent"><h1></h1><p></p></div>
            </div>
    </section>

    <section class="categoryhome">
        <div class="container">
          <div class="row p-5">
            <h6><img src="/public/images/pin.png" class="pin" alt=""> Our Categories</h6>
            <h2>Explore Our Categories</h2>
            <% if(locals.cdata && locals.cdata.length > 0){ locals.cdata.forEach(element => { %>
            <div class="category col-sm-6 col-md-4 mt-4">
              <div class="card">
                  <a href="/category/products?id=<%= element._id %>"><img src="<%= element.image %>" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h5 class="card-title cardhead"><%= element.categoryname %></h5>
                    <div class="carddesc"><button type="button"><p class="card-text"><a href="/category/products?id=<%= element._id %>">Explore Now</a></p></button></div>
                    
                  </div>
                </div>
          </div>
          <% });} %>
          <button class="btn viewbtn my-4 text-center p-3"><a href="/category">View All Categories</a></button>

          </div>
        </div>
      </section>

      <section class="roomhome">
        <div class="container">
          <div class="row p-5">
            <h6><img src="/public/images/pin.png" class="pin" alt=""> Our Rooms</h6>
            <h2>Explore Our Rooms</h2>
            <% if(locals.rdata && locals.rdata.length > 0){ locals.rdata.forEach(element => {%>
            <div class="room col-md-6 mt-4">
              <div class="card">
                  <a href="/room/products?id=<%= element._id %>"><img src="<%= element.image %>" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h5 class="card-title cardhead"><%= element.roomname %></h5>
                    <div class="carddesc"><button type="button"><p class="card-text"><a href="/room/products?id=<%= element._id %>">Explore Now</a></p></button></div>
                    
                  </div>
                </div>
          </div>
          <% }); } %>
          <button class="btn viewbtn my-4 text-center p-3"><a href="/room">View All Rooms</a></button>

          </div>
        </div>
      </section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/public/js/home.js"></script>        
<%- include('layouts/footer.ejs') %>
