<%- include('layouts/header.ejs') , {udata:locals.udata} %>

<main class="promain pb-5">
    <section class="products pt-5 pt-sm-5">
      <div class="container">
          <div class="row p-3">
              <h2 class=" mt-4 mb-3">OFFERS</h2>
              <% if(locals.offer && locals.offer.length > 0) { locals.offer.forEach(element => { %>
              <div class="offer my-4 col-md-6">
                <div class="offerdiv"><img src="<%= element.offerimage %>" alt=""></div>
                <div class="offerdata1"><h3><u><%= element.offertitle %></u></h3>
                <p><%= element.description %></p>
                <p>Flat <span class="rateoffer"><%= element.discount %>%</span>Off!!</p>
                <a href="/offer/products?id=<%= element._id %>">Shop Now</a></div>
                <div class="offerdatabg"></div>
            </div>
            <%  }); }else{ %>
                <div class="cart  col-lg-12 mt-4">
                    <div class="card m-auto border-0 h-100 ">
                      <div class="card-body h-100 d-flex justify-content-center align-items-center">
                        <div class="card-title d-flex flex-column justify-content-center align-items-center ">
                          <img src="/public/images/favicon.png" alt="" width="300rem" height="300rem">
                          <h2>Offers is Empty!!</h2>
                        </div>
                      </div>
                    </div>
                    </div>
            <% } %>
                    </div>
              </div>

          </div>
      </div>
  </section>
  </main>

<%- include('layouts/footer.ejs') %>
