<%- include('layouts/header.ejs') , {udata:locals.udata} %>


      <main class="promain pb-5">
        <section class="products pt-5 pt-sm-5">
          <div class="container ">
              <div class="row p-4 p-sm-0">
                <h2 class="fw-bold my-4">ORDERS</h2>

                <% if(locals.orderdata && locals.orderdata.length > 0) { locals.orderdata.forEach(element => { %>
                <div class="card ordersmain p-0 my-4">
                    <div class="ordertitle"><h4>Order ID : #<%= element._id %></h4><div class="ordertitle2"><a href="/orders/summary?id=<%= element._id %>"><button type="button">View Order Summary</button></a>
                     
                      </div></div>
                    <% if(element.products && element.products.length > 0) { element.products.forEach(el => { %>
                    <div class="card-body orderscard ">
                        <img src="/assets/<%= el.product_id.mainimage %>" alt="" width="120px" height="120px">
                        <table class="table   table1">
                            <tr>
                                <th>Date</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td class="td1"><%= element.date.toString().split(' ')[2] %>&nbsp;<%= element.date.toString().split(' ')[1] %>&nbsp;<%= element.date.toString().split(' ')[3] %>&nbsp;</td>
                                <td class="td2"><%= el.product_id.productname %></td>
                                <td class="td3"><%= el.qty %></td>
                                <td class="td4">Rs.<%= el.product_id.price %></td>
                                <td class="td5">Rs.<%= el.qty * el.product_id.price %></td>
                                <td class="td6"> <% if(el.status === "Processing") { %>
                                  <span class="stat1">Processing</span>
                                  <% } else if(el.status === "Delivered") { %>
                                  <span class="stat">Delivered</span>
                                  <% } else if(el.status === "Dispatched") { %> 
                                  <span class="stat2">Dispatched</span>
                                  <% } else if(el.status === "Shipped") { %>
                                    <span class="stat3">Shipped</span>
                                  <% } else if(el.status === "Cancelled") { %>
                                    <span class="stat4">Cancelled</span>
                                  <% } %>
                                    
                                </td>
                                <td class="td6"> 
                                  <% if(el.status === "Delivered") { %>
                                    <a href="/orders/return?id=<%= el.product_id._id %>"><button type="button" class="cancelorderbtn">Return</button></a>
                                    <% } else { %>
                                      <button type="button" class="cancelorderbtn" data-orderid="<%= element._id %>" data-proid="<%= el.product_id._id %>">Cancel Order</button>
                                      <% } %>
                                </td>
                            </tr>
                        </table>
                        <table class="table  table2" style="display: none;">
                            <tr><th>Date</th><td class="td1"><%= element.date.toString().split(' ')[2] %>&nbsp;<%= element.date.toString().split(' ')[1] %>&nbsp;<%= element.date.toString().split(' ')[3] %>&nbsp;</td></tr>
                            <tr><th>Product Name</th><td class="td2"><%= el.product_id.productname %></td></tr>
                            <tr><th>Quantity</th><td class="td3"><%= el.qty %></td></tr>
                            <tr><th>Unit Price</th><td class="td4">Rs.<%= el.product_id.price %></td></tr>
                            <tr><th>Total Price</th><td class="td5">Rs.<%= el.qty * el.product_id.price %></td></tr>
                            <tr><th>Status</th><td class="td6">
                              <% if(el.status === "Processing") { %>
                                <span class="stat1">Processing</span>
                                <% } else if(el.status === "Delivered") { %>
                                <span class="stat">Delivered</span>
                                <% } else if(el.status === "Dispatched") { %> 
                                <span class="stat2">Dispatched</span>
                                <% } else if(el.status === "Shipped") { %>
                                  <span class="stat3">Shipped</span>
                                <% } else if(el.status === "Cancelled") { %>
                                  <span class="stat4">Cancelled</span>
                                <% } %>
                              
                            </td></tr>
                            <tr><th>Action</th><td class="td6">
                              <% if(el.status === "Delivered") { %>
                                <a href="/orders/return?id=<%= el.product_id._id %>"><button type="button" class="cancelorderbtn">Return</button></a>
                                <% } else { %>
                                  <button type="button" class="cancelorderbtn" data-proid="<%= el.product_id._id %>">Cancel Order</button>
                                  <% } %>
                            </td></tr>
                        </table>
                    </div>
                    <%   }); } %>
                    <div class="ordertitle text-center justify-content-between pe-5 align-items-center"><div class="paydet "><h6 class="text-start">Payment Method : <%= element.payment_method %> <br> Payment Status : <%= element.payment_status %> </h6><% if(element.payment_status === "Pending") { %> <button type="button" class="cancelorderbtn" class="paynow" data-orderid="<%= element._id %>">Pay Now</button> <% } %></div><h6 >Total Amount : Rs.<%= element.total_amount %></h6></div>

                </div>

                <%  }); } else { %>
                  <div class="card-body h-100 d-flex justify-content-center align-items-center ordersmain">
                  <div class="card-title d-flex flex-column justify-content-center align-items-center ">
                    <img src="/public/images/oops.png" alt="" width="300rem" height="300rem">
                    <h2>No Orders Placed!!</h2>
                  </div>
                </div>
                  <% } %>
              </div>
          </div>
      </section>
      </main>

<script src="/public/js/orders.js"></script>
<%- include('layouts/footer.ejs')  %>
