<%- include('layouts/header.ejs') %>


      <main class="promain ">
        
      <section class="products pt-5 pt-sm-5">
        <div class="container">
            <div class="row p-3">
                <div class="head"><h2>Products</h2><div class="filterselect"><select name="filter" id="">
                  <option value="">--Choose Filter--</option>
                  <option value="High-Low">Price - High to Low</option>
                </select></div></div>
                <% if(locals.products) { locals.products.forEach(element => { element.forEach(el => { %>
                <% let desc = el.description.split('.')[0] %>
                <% let pname = el.productname.split(' ')[0] %>
                <div class="product product1 col-md-3 mt-4">
                    <div class="card">
                        <a href="/products/viewproduct?id=<%= el._id %>"><img src="/assets/<%= el.mainimage %>" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                          <h5 class="card-title cardhead"><%= pname %></h5>
                          <div class="carddesc"><p class="card-text"><%= desc %></p></div>
                          <div class="cardprice"><p class="card-text ">Rs.<%= el.price %></p></div>
                          <div class="wish wbtn"><i class="fa-regular fa-heart"></i></div>
                          <div class="wish1 wbtn"><i class="fa-solid fa-heart"></i></div>
                          <div class="addcart"><button type="button" id="addcartbtn" data-proid="<%= el._id %>"><i class="fa-solid fa-cart-plus"></i></button></div>
                        </div>
                    </div>
                </div>
                <% }) }) } %>              
            </div>
        </div>
    </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/js/productslist.js"></script>
    <%- include('layouts/footer.ejs') %>
