<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdoreHome | LOGIN</title>
    <link rel="icon" href="/public/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/userstyle.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Outfit:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="nav">
        <div class="container-fluid fullnav">
            <div class="navleft">
                <a class="" href="/home">
                    <img src="/public/images/LOGO Black.png" alt="" width="170" height="50">
                  </a>
    
              <div class="navlist1" id="">
                

                <ul>
                    <li class="dropdown item">
                        <span><h5 class="fw-normal">All</h5></span>
                        <div class="dropdown-content">
                          <a href="#">Coupons</a>
                          <a href="/orders">Orders</a>
                          <a href="#">Brands</a>
                          <a href="/cart">Cart</a>
                        </div>
                    <hr class="hr-nav1">
                      </li>
                    <li class="item"><h5 class="fw-normal"><a class="" href="/products">Products</a></h5>
                        <hr class="hr-nav">
                    </li>
                    <li class="item"><h5 class="fw-normal"><a class="" href="/room">Rooms</a></h5>
                        <hr class="hr-nav2"></li>
                    <li class="item"><h5 class="fw-normal"><a class="" href="/category">Category</a></h5>
                        <hr class="hr-nav">
                    </li>
                    
                  </ul>

              </div>

            </div>
            
            <div class="navright">

                <ul class=" navlist2">
                    <li class=" ">
                        <div class="searchinput"><button  id="searchtoggle" type="button"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button></div>
                     </li>
                    <li class="">
                        <a class="" href="/profile"><i class="fa-regular fa-user"></i></a>
                      </li>
                    <li class="wishlist">
                      <a class="position-relative"  href="#" ><i class="fa-regular fa-heart"></i><span class="position-absolute top-0 start-100 translate-middle badge  ">0</span></a>
                    </li>
                    <li class="">
                     <div class="carticon position-relative"><button  id="cartbtn" type="button"><i class="fa-solid fa-cart-shopping"></i></button><span class="position-absolute top-0 start-100 translate-middle badge  ">
                        <% if(locals.udata && locals.udata.cart.length > 0){ %>
                            <%= locals.udata.cart.length %>
                            <% } else { %>
                            <%= "0" %>
                        <% } %>
                        </span></div>
                    </li>
                  </ul>
                  <div class="navham ms-4 ">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            
          
        </div>
      </nav>
      <div class="searchbar" >
        <div class="searchcontent">
        <form action="">
        <input class="form-control me-2 searchbox pe-2" type="search" placeholder="Search for products." aria-label="Search" >
        <button class="btn btn-outline-dark" type="button"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
        <span class="close" ><button class="closebtn" id="closebtn">&times;</button></span>
    </div>
    </div>

    <div class="overlay" style="display: none;"></div>

    <div class="cartslide" style="display: none;">
        <h2 class="mb-4"><a href="/cart" class="cartlink">CART</a></h2>
        <hr class="my-4">
        <div class="cartslidedetails">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        
                            
                            <% if(locals.udata && locals.udata.cart.length > 0) { locals.udata.cart.forEach(element => { %>
                            <div class="card my-3">
                            <div class="card-body cartslideitem">
                            
                                <a href="/products/viewproduct?id=<%= element.product_id._id %>&qty=<%= element.qty %>"><img src="/assets/<%= element.product_id.mainimage %>" alt="" width="80px" height="80px"></a>
                                <div class="cartproname"><h6 class="card-title fw-bold my-0"><%= element.product_id.productname %></h6><p class="my-0"><%= element.product_id.description.split('.')[0] %></p></div>
                                <div class="qtybtn"><button type="button" class="minusbtn" data-prominid="<%= element.product_id._id %>"><i class="fa-solid fa-minus"></i></button><span ><p id="qtychange_<%= element.product_id._id %>"><%= element.qty %></p></span><button type="button" class="plusbtn" data-promaxid="<%= element.product_id._id %>"><i class="fa-solid fa-plus"></i></button></div>
                                <% if(element.product_id.stock === 0) { %>
                                    <div class="out">Out Of Stock</div>
                                    <% } %>
                            </div>
                        </div>
                        
                            <%  }) } else { %>
                                <div class="card m-auto border-0 h-100 ">
                                    <div class="card-body h-100 d-flex justify-content-center align-items-center">
                                      <div class="card-title d-flex flex-column justify-content-center align-items-center ">
                                        <img src="/public/images/oops.png" alt="" width="100px" height="100px">
                                        <h4>Cart is Empty!!</h4>
                                      </div>
                                    </div>
                                  </div>

                                  <% } %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
